node_modules/
**/dist/
webpack.config.js
**/e2e/
output/**
packages/mathtype-generic/wirisplugin-generic.js
packages/mathtype-tinymce4/plugin.min.js
packages/mathtype-tinymce4/plugin.min.moodle.js
packages/mathtype-tinymce5/plugin.min.js
packages/mathtype-tinymce6/plugin.min.js
packages/mathtype-froala3/wiris.js
packages/mathtype-froala/wiris.js
packages/mathtype-ckeditor4/plugin.js
packages/mathtype-tinymce/editor_plugin.src.js
packages/mathtype-html-integration-devkit/doc/templates/**
packages/mathtype-html-integration-devkit/out/**