# Environment configuration for HTML Editors E2E Tests
# File must be named .env in the root of the project

# HTML Editor selection - pipe separated list of editors to test
# Available options: generic|ckeditor4|ckeditor5|froala|tinymce5|tinymce6|tinymce7|tinymce8
HTML_EDITOR=ckeditor5

# Whether to use the staging environment or use localhost
USE_STAGING=false

# Branch to test. Only applies when USE_STAGING=true
TEST_BRANCH=master


