body {
  background-color: #e4e6e7;
}

.ck-editor {
  background-color: #fff !important;
  border-radius: 10px !important;
  margin: 0 auto !important;
  max-width: 760px !important;
  width: 75% !important;
}

.ck-editor:hover {
  box-shadow: 0 0 10px #7af78f;
}

.ck-content {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  min-height: 250px;
}

.ck-rounded-corners,
.ck.ck-editor__editable:not(.ck-editor__nested-editable),
.ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-rounded-corners {
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}
