.wrs_links {
    margin: 10px auto;
    margin-bottom: 0;
    font-family: arial, sans-serif;
    padding: 6px;
}

.wrs_links > a {
    text-decoration: none;
    color: #778e9a;
}

.wrs_button_cancel {
    min-width: 80px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #778e9a;
    padding: 6px 8px;
    margin: 10px auto;
    margin-left: 5px;
    margin-bottom: 0;
    cursor: pointer;
    font-family: arial, sans-serif;
}

.wrs_button_accept {
    min-width: 80px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #778e9a;
    padding: 6px 8px;
    margin: 10px auto;
    margin-right: 5px;
    margin-bottom: 0;
    color: #fff;
    background: #778e9a;
    cursor: pointer;
    font-family: arial, sans-serif;
}

.wrs_editor_vertical_bar {
    height: 20px;
    float: right;
    background: none;
    width: 20px;
    cursor: pointer;
}

.wrs_buttonContainer {
    display: inline;
}

.wrs_buttonContainer.wrs_modalAndroid {
    padding-left: 6px;
}

.wrs_buttonContainer.wrs_modalDesktop {
    padding-left: 0;
}

@media only screen and (max-device-width: 480px) and (orientation: portrait) {
    #container {
        width: 140%;
    }
}


/* ----- */


/*iPad and iPad Mini specific css*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .wrs_container.wrs_modalIos {
        height: 100vh;
    }
    .wrs_editorContainer.wrs_modalIos {
        height: 89vh;
    }
    .wrs_controls.wrs_modalIos {
        height: 11vh;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .wrs_container.wrs_modalIos {
        width: 100vw;
        height: 100vh;
    }
    .wrs_editorContainer.wrs_modalIos {
        width: 100vw;
        height: 87vh;
    }
    .wrs_controls.wrs_modalIos {
        width: 100vw;
        height: 13vh;
    }
}


/* ----- */