.wrs_modal_overlay {
    position: fixed;
    font-family: arial, sans-serif;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99998;
    opacity:0.65;
    pointer-events: auto;
}

.wrs_modal_overlay.wrs_maximized{
}

.wrs_modal_overlay.wrs_minimized {
}

.wrs_modal_overlay.wrs_stack {
}

.wrs_modal_overlay.wrs_modal_ios {
}

.wrs_modal_overlay.wrs_modal_ios.moodle {
    position: fixed;
}

.wrs_modal_title {
    color : #FFFFFF;
    padding : 5px 0px 5px 10px;
}

.wrs_modal_close_button {
    float : right;
    cursor : pointer;
    color : #FFFFFF;
    padding : 5px 10px 5px 0px;
    background: url('icons/general/close_icon.png');
    background-size: 10px;
    margin: 10px 7px 0 0;
}

.wrs_modal_close_button:hover {
    float : right;
    cursor : pointer;
    color : #FFFFFF;
    padding : 5px 10px 5px 0px;
    background: url('icons/hover/close_icon_h.png');
    background-size: 10px;
    margin: 10px 7px 0 0;
}

.wrs_modal_minimize_button {
    float : right;
    cursor : pointer;
    color : #FFFFFF;
    padding : 5px 10px 5px 0px;
    top: inherit;
    margin: 10px 7px 0 0;
}

.wrs_modal_minimize_button.wrs_maximized {
    background: url('icons/general/min_icon.png');
    background-size: 10px;
}

.wrs_modal_minimize_button.wrs_maximized_hover {
    background: url('icons/hover/min_icon_h.png');
    background-size: 10px;
}

.wrs_modal_minimize_button.wrs_stack {
    background: url('icons/general/min_icon.png');
    background-size: 10px;
}

.wrs_modal_minimize_button.wrs_stack:hover {
    background: url('icons/hover/min_icon_h.png');
    background-size: 10px;
}

.wrs_modal_minimize_button.wrs_minimized {
    background: url('icons/general/max_icon.png');
    background-size: 10px;
}

.wrs_modal_minimize_button.wrs_minimized:hover {
    background: url('icons/hover/max_icon_h.png');
    background-size: 10px;
}

.wrs_modal_minimize_button:hover {
    background: url('icons/hover/min_icon_h.png');
    background-size: 10px;
}

.wrs_modal_stack_button {
    color: black;
    float : right;
    cursor : pointer;
    color : #FFFFFF;
    margin: 10px 7px 0 0;
    padding : 5px 10px 5px 0px;
    top: inherit;
}

.wrs_modal_stack_button.wrs_stack {
    background: url('icons/general/fulls_icon.png');
    background-size: 10px;
}

.wrs_modal_stack_button.wrs_minimized {
    background: url('icons/general/fulls_icon.png');
    background-size: 10px;
}

.wrs_modal_stack_button.wrs_maximized {
    background: url('icons/general/mins_icon.png');
    background-size: 10px;
}

.wrs_modal_stack_button.wrs_stack:hover {
    background: url('icons/hover/fulls_icon_h.png');
    background-size: 10px;
}

.wrs_modal_stack_button.wrs_minimized:hover {
    background: url('icons/hover/fulls_icon_h.png');
    background-size: 10px;
}

.wrs_modal_stack_button.wrs_maximized:hover {
    background: url('icons/hover/mins_icon_h.png');
    background-size: 10px;
}

.wrs_modal_stack_button:hover {
    background: url('icons/hover/fulls_icon_h.png');
}

.wrs_modal_iframe {
    display : block;
}

.wrs_modal_title_bar {
    display : block;
    background-color: #778e9a;
}

.wrs_modal_dialogContainer {
    overflow: hidden;
    border: none;
    background: #fafafa;
    z-index: 99999;
}

.wrs_modal_dialogContainer.wrs_modal_desktop {
    font-size: 14px;
}

.wrs_modal_dialogContainer.wrs_modal_desktop.wrs_maximized {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrs_modal_dialogContainer.wrs_modal_desktop.wrs_minimized {
    bottom: 0;
    right: 0;
    position:fixed;
    top: inherit;
    margin: 0px;
    width: 250px;
    margin-right: 10px;
}

.wrs_modal_dialogContainer.wrs_modal_desktop.wrs_minimized.wrs_drag {
}

.wrs_modal_dialogContainer.wrs_modal_desktop.wrs_stack {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 10px;
    box-shadow: rgba(0,0,0,0.5) 0px 2px 8px
}

.wrs_modal_dialogContainer.wrs_drag {
    box-shadow: rgba(0,0,0,0.5) 0px 2px 8px;
}

.wrs_modal_dialogContainer.wrs_modal_desktop.wrs_drag {
    box-shadow: rgba(0,0,0,0.5) 0px 2px 8px
}

.wrs_modal_dialogContainer.wrs_modal_android {
    margin: auto;
    position: fixed;
    width: 99%;
    height: 99%;
    overflow: hidden;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.wrs_modal_dialogContainer.wrs_modal_ios {
    margin: auto;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.wrs_modal_iframeContainer.wrs_maximized {
}

.wrs_modal_iframeContainer.wrs_minimized {
    display : none;
}

.wrs_modal_iframeContainer.wrs_modal_android {
    width: 100%;
    height: 100%;
}

.wrs_modal_iframe.wrs_modal_android {
    margin : auto;
}

.wrs_modal_iframeContainer.wrs_modal_ios {
    width: 100%    !important;
    height: 100%   !important;
}

.wrs_modal_iframe.wrs_modal_ios {
    width: 100vw    !important;
    height: 100vh   !important;
}

.wrs_modal_iframe.wrs_modal_android {
    height: 100%;
    width: 100%;
    margin : auto;
}

@media all and (orientation : portrait) {

    .wrs_modal_dialogContainer.wrs_modal_mobile {
        width: 100vmin;
        height: 100vmin;
        margin: auto;
        border-width: 0px;
    }

    .wrs_modal_iframe.wrs_modal_mobile {
        width : 100vmin;
        height : 100vmin;
        margin : auto;
    }
}

@media all and (orientation : landscape) {

    .wrs_modal_dialogContainer.wrs_modal_mobile {
        width: 100vmin;
        height: 100vmin;
        margin: auto;
        border-width: 0px;
    }

    .wrs_modal_iframe.wrs_modal_mobile {
        width : 100vmin;
        height : 100vmin;
        margin : auto;
    }
}

.wrs_modal_dialogContainer.wrs_modal_badStock {
    width: 100%;
    height: 280px;
    margin: 0px auto;
    border-width: 0px;
}

.wrs_modal_iframe.wrs_modal_badStock {
    width : 100%;
    height : 280px;
    margin: 0px auto;
    border-width: 0px;
}
