<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="wirisconfigurationpath" value="E:\develop\PLUGINS\editors\generic\temp"/>
  </appSettings>
    <connectionStrings/>
    <system.web>
      <compilation debug="true" />
      <pages validateRequest="false" />
    </system.web>
</configuration>
