# Publish to private registry
registry=http://localhost:4873/

# It is necessary to authenticate to publish in Verdaccio
# Token for username="username", password="password"
//localhost:4873/:_authToken="kSwBbr9NJVcgqZ4Kl4zufXavhs0H8aVgveIW8R9SftM="
