* {
    margin: 0;
    padding: 0;
  }

  .header {
    margin: 0 auto;
    max-width: 750px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #7eff83;
    margin-bottom: 16px !important;
    min-height: 60px;
  }

  .header_title {
    font-size: 1.8em;
    font-weight: 400;
    margin: 10px;
    vertical-align: middle;
    margin-left: 20px;
    float: left;
  }
  
  .header_versions {
    float: right;
  }
  
  .header_versions_text {
    margin-right: 90px;
    margin-top: 5px;
  }
  
  .header_versions_content {
    font-size: 14px;
    margin-left: 30px;
    margin-top: 3px;
  }
  
  .header_versions_content-position {
    margin-top: 2px;
  }

  #editor {
    margin: 0 auto !important;
    border-radius: 10px !important;
    max-width: 750px !important;
    width: 75% !important;
    background-color: white !important;
  }
  
  #editor:hover {
    box-shadow: 0 0 10px #7af78f;
  }

  .text {
    margin: 0%;
  }

  .actions {
    text-align: center;
  }
  
  .btn {
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    
  }
  
  #btn_update {
    background-color: white;
    color: black;
    border: 2px solid #69e26d;
    margin: 15px;
  }
  
  #btn_update:hover {
    background-color: #69e26d;
    color: white;
  }
  
  .btn_update-distances {
    padding: 16px 32px;
    margin: 4px 2px;
    border-radius: 5px;
    border: none;
  }
  
  .btn_update-display {
    display: inline-block;
  }

  .transform {
    margin: 0 auto;
    border-radius: 10px;
    max-width: 700px;
    min-height: 200px;
    width: 75%;
    background-color: white;
    border: 1px solid rgb(201, 201, 201);
  }
  
  .transform:hover {
    box-shadow: 0 0 10px #7af78f;
  }
  
  #transform_content {
    padding: 35px 25px;
  }
  